body {
  font-family: "montserrat";
  overflow-x: hidden;
  text-align: center;
}

/* title section */

#title {
  background-color: rgb(255, 112, 136);
  text-align: left;
}

h2 {
  font-weight: 600;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 800;
}

h1 {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
  text-transform: uppercase;
}
.container-fluid {
  padding: 5% 15% 12% 15%;
  /* padding: 7% 15%; */
}

/* iphone rotate */
#iphone {
  width: 20%;
  /* height: 90%; */
  transform: rotate(20deg);
  position: absolute;
  right: 23%;
  /* width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%; */
}

.meet {
  position: relative;
  z-index: 1;
}

/* navbars */
.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 30px 0 40px;
}
.navbar-brand {
  font-family: "ubuntu";
  font-size: 40px;
  font-weight: 600;
}
.d-button {
  margin: 5px 5px;
}
h3 {
  font-weight: 700;
}

/* features */
.feature-box {
  padding: 8% 5% 0% 5%;

  margin: 0 0 0 0;
}

.feature-title {
  font-size: 1.7rem;
  font-weight: 800;
  color: black;
}

.img-row {
  color: rgb(255, 112, 136);
  margin-bottom: 15px;
}
.img-row:hover {
  color: rgb(179, 97, 112);
}
#features {
  font-weight: 600;
  color: gray;
  background-color: white;
  position: relative;
  z-index: 1;
}

/* Testimonials */
#testimonials {
  text-align: center;
  background-color: rgb(255, 112, 136);
  color: white;
  font-weight: 600;
  font-size: ;
}
.carousel-item {
  padding: 10% 10% 10% 10%;
}
.testimonial-image {
  width: 10%;
  margin: 20px;
}

.h2-1 {
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
}
#press {
  background-color: rgb(255, 112, 136);
  text-align: center;
  padding-bottom: 10%;
}
.press-image {
  width: 15%;
  margin: 0 3%;
}

/* pricing */
#pricing {
  padding: 100px;
}

.price-col {
  padding: ;
}

.bold {
  font-weight: 600;
  color: gray;
}

li {
  margin: 5% 0;
}
.h4 {
  font-weight: 700;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
    display: inline-block;
  }
  .container-fluid {
    padding-bottom: 5%;
  }
  #iphone {
    position: static;
    transform: rotate(0);
    width: 40%;
    /* height: 60%; */
    display: inline-block;
    padding-top: 20px;
  }
  [class*="meet"] {
    text-align: center;
    font-size: 300%;
  }
}

/* media */
@media only screen and (max-width: 768px) {
  /* mobile and portrait style changes */

  /* the *= means classes that contain the letters=... */
  [class*="meet"] {
    text-align: center;
    font-size: 300%;
  }
  [class*="btn-center"] {
    text-align: center;
  }
  [id*="iphone"] {
    position: static;
    margin: auto;
    text-align: center;
    display: none;
  }

  [class*="navbar-brand"] {
    font-size: 30px;
  }
  [class*="nav-link"] {
    font-size: 14px;
    text-align: center;
  }
}

/* call to action */
#cta {
  background-color: rgb(255, 112, 136);
  padding: 80px 80px 110px 80px;
}
.cta-h3 {
  color: white;
  font-size: 50px;
  font-weight: 900;
  margin: 30px 190px 50px 190px;
}

.download-btn {
  margin: 0 10px;
  font-weight: 400;
  font-size: 20px;
}

/* footer */
#footer {
  padding: 80px 80px;
}
.footer-icon {
  margin: 20px 15px;
}
.footer-p {
  font-weight: 600;
  color: rgb(155, 155, 155);
}
