body {
  font-family: "montserrat";
  overflow-x: hidden;
  text-align: center;
}

/* title section */

#title {
  background-color: rgb(255, 112, 136);
  text-align: left;
}

h2 {
  font-weight: 600;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 800;
}

.left-row {
  padding-top: 40px;
}

h1 {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.2;
  text-transform: uppercase;
}
.container-fluid {
  padding: 3% 15%;
}

/* iphone rotate */
#iphone {
  max-width: 350px;
  width: 70%;
  transform: rotate(15deg);
  position: absolute;
  right: 20%;
}
.no-overflow {
  overflow: hidden;
  height: 750px;
}

/* navbars */
.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 30px 0 40px;
}
.navbar-brand {
  font-family: "ubuntu";
  font-size: 40px;
  font-weight: 600;
}
.d-button {
  margin: 5% 5% 0 0;
}
h3 {
  font-weight: 700;
}
#features {
  margin-top: 90px;
  margin-bottom: 90px;
}
.center-original {
  width: 300px;
  margin: auto;
  text-align: center;
}
p.center-original {
  font-weight: 600;
  color: rgb(180, 180, 180);
}
.margin-auto {
  display: flex;

  justify-content: center;
}
.img-row {
  color: rgb(255, 112, 136);
  margin: auto;
  text-align: center;
}
.img-row:hover {
  color: rgb(179, 97, 112);
}
#features {
  padding-left: 7%;
  padding-right: 7%;
  padding-bottom: 20px;
  margin-top: 10%;
  margin-bottom: 10%;
}
/* Testimonials */
#testimonials {
  padding: 10% 10% 10% 10%;
  text-align: center;
  background-color: rgb(255, 112, 136);
  color: white;
  font-weight: 600;
  font-size: ;
  text-transform: ;
}
.testimonial-image {
  width: 10%;
  margin: 20px;
}

#h2-1 {
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
}
#press {
  background-color: rgb(255, 112, 136);
  text-align: center;
  padding-bottom: 10%;
}
.press-image {
  width: 15%;
  margin: 0 3%;
}
